@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
     <table>
  <tr class="border_bottom">
    <th>Dag</th>
    <th>Varm Ret</th>
    <th>Kold Ret</th>
  </tr>
  <tr>
    <td>Man 02</td>
    <td>Kylling & Pasta</td>
    <td>Smørrebrød</td>
  </tr>
  <tr>
    <td>Tir 03</td>
    <td>Græskarsuppe</td>
    <td>Pastasalat</td>
  </tr>
  <tr>
    <td>...</td>
    <td>...</td>
    <td>...</td>
  </tr>
</table> 
</div>
