@page "/karen"
@model IBAS_menu.Pages.karenModel
@{<div>
     <table>
  <tr class="border_bottom">
    <th>Karen info</th>
    <th>email</th>
    <th>tlf</th>
  </tr>
  <tr>
    <td>Karen Karensdorf Karensen</td>
    <td>karen@karen</td>
    <td>88882388</td>
  </tr>
  <tr>
    <td>...</td>
    <td>...</td>
    <td>...</td>
  </tr>
</table> 
</div>

}
